{% extends "base.html" %}
{% block title %}Data Analyser{% endblock %}
{% block content %}
<style>
    .error-message{
        margin-top: 0.2rem;
    }
</style>
<body>
    <div class="newpaper">
            <main class="flex-col">
                <div class="flex-center">
                    <div class="news_extractor_content">
                        <form action="/data" method="POST" onsubmit="return validateUrl()">
                            <h1>Url Data Analyser For India Today News Articles
                                {% if session['user_info'] %}
                                <span class="advanced">(Advanced User)</span>
                                {% endif %}
                            </h1>
                            <input type="text" id="Url" name="Url" placeholder="Enter URL...">
                            <button type="submit" value="Analyze" class="submit_btn">Analyze</button>
                        </form>
                    </div> 
                </div>
                <div class="extracted_content">
                    <div>
                        <h3>Analyzed Data ....</h3><hr/>
                        {% if url %}
                        <h4>URL</h4>
                        <p>{{ url }}</p>
                        <h4>Article Headline</h4>
                        <p>{{ main_heading }}</p>
                        <h4>Cleaned Text</h4>
                        <p>{{ cleaned_text }}</p>
                        <h4>Number of Words</h4>
                        <p>{{ num_words }}</p>
                        <h4>Number of Sentences</h4>
                        <p>{{ num_sentences }}</p>
                        {% if not session['user_info'] %}
                        <button class="submit_btn login"><a href="/login"><span>Login with</span><img src="/static/img/google.ico"> to search for advance data</a></button>
                        {% else %}
                        <h3>Advanced Data</h3>
                        <hr/>
                        <h4>POS Tags</h4>
                        <p>{{ pos_counts }}</p>
                        <h4>Keyword frequency</h4>
                        <p>{{ keywords_frequency }}</p>
                        <h4>Image count</h4>
                        <p>{{ image_count }}</p>
                        <h4>Headings Used</h4>
                        <p>{{ headings_used }}  </p>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </main> 
            </div>
        
            <script>
                function validateUrl() {
                    var urlInput = document.getElementById('Url');
                    var url = urlInput.value.trim();
            
                    if (url === '') {
                        alert("URL cannot be empty.");
                        return false;
                    } else if (!url.startsWith('https://')) {
                        alert("Please enter a URL starting with 'https://'.");
                        return false;
                    } else {
                        return true;
                    }
                }
            </script>
            
            
    </div>
</body>
{% endblock %}


